<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Facegram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41A854ED1C5FDA9000C119F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41A855011C5FDA9100C119F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41A8550C1C5FDA9100C119F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
